SUPABASE_URL=
SUPABASE_SECRET_KEY=
FED_COMMUNICATIONS_CSV_URL=https://raw.githubusercontent.com/vtasca/fed-statement-scraping/master/communications.csv
FED_COMMUNICATIONS_CSV_PATH=
OPENAI_API_KEY=
INGEST_TOKEN=
